In [1]:
5 + 6

11

In [2]:
print('Hello World')

Hello World

### This is just for demo

$$ f(x) = 2x^2 + 5 $$

In [6]:
# pwd

In [2]:
# 5var = 56

In [4]:
# @var = 56

In [7]:
var_1 = 52

In [8]:
var1 = 53

In [9]:
VAR = 52

In [10]:
var = 56

In [11]:
VAR

52

In [12]:
print(VAR)

52

In [13]:
print(var)

56

In [14]:
VAR = 53

In [15]:
var = 51

In [16]:
var = 50

In [17]:
type(var)

int

In [18]:
var_1 = 50.0

In [19]:
type(var_1)

float

In [24]:
var = 2356345765825534315231.251231

In [25]:
var

2.3563457658255342e+21

In [29]:
# var_2 = 0.0000000000000000000000000000000000000056

In [28]:
# var_2

In [30]:
x = 5
y = 6

# Addition

In [32]:
#Addition
x + y

11

In [33]:
# Sub
y - x

1

In [34]:
# Mul 
y * x

30

In [35]:
# Div (absolute val)
x = 7
y = 2
x/y

3.5

In [36]:
# Floor 
x // y

3

In [38]:
# Modulas (Remainder)
x % y

1

In [41]:
# Exponential (Power)
# Sqaure
x ** 2

49

In [46]:
# Sq root 
49 ** 1/2

24.5

In [45]:
49 ** (1/2)

7.0

In [43]:
7/2

3.5

In [49]:
# BODMAS
5 - 3 * 7-6

-22

In [47]:
 (5 - 3 )* (7-6)

2

In [50]:
a = 5

In [51]:
type(a)

int

In [57]:
a =float(a)

In [58]:
a

5.0

In [55]:
b

5.0

In [59]:
a

5.0

In [62]:
a = str(a)

In [61]:
a

5.0

In [63]:
a = str(5)

In [64]:
a

'5'

In [65]:
b = str(10)

In [66]:
a

'5'

In [67]:
b

'10'

In [68]:
a + b

'510'

In [69]:
print(a)

5

In [71]:
a =55

In [72]:
print('This is the value of a',a)

This is the value of a 55

In [ ]:

create var and store the marks of 3  students  and find their avg marks

In [98]:
m_1 = 45
m_2 = 56
m_3 = 86
avg = (m_1+m_2+m_3)/3
print(avg)

62.333333333333336

In [93]:
m_1 = int(input("Enter your marks "))
m_2 = int(input("Enter your marks "))
m_3 = int(input("Enter your marks "))
avg = (m_1+m_2+m_3)/3
print(avg)

Enter your marks 56
Enter your marks 65
Enter your marks 42
54.333333333333336

In [ ]:
total marks  obtained marks find the pert

In [95]:
tot = int(input("Enter your total marks  "))
obt = int(input("Enter your obtained  marks "))

pert = obt/tot *100
print("Your percentage is : ",pert)

Enter your total marks  100
Enter your obtained  marks 65
Your percentage is :  65.0

In [ ]:
given three side of a triangle find the area of the triangle

In [97]:
s_1 = 2
s_2 = 3
s_3 = 4
s = (s_1+s_2+s_3)/2

area = (s*(s-s_1)*(s-s_2)*(s-s_3))**(1/2)
print("Area of the tri is ",area)

Area of the tri is  2.9047375096555625

In [ ]:
given height and base of the triangle find the triangle

In [96]:
heit = int(input("Enter height of the triangle "))
base = int(input("Enter base of the triangl "))

area = heit*base*1/2
print("Area of Triangle is  : ",area)

Enter height of the triangle 45
Enter base of the triangl 30
Area of Triangle is  :  675.0

In [77]:
a = input()
a = int(a)

56

In [85]:
a = int(input())

52

In [87]:
a

52

In [86]:
type(a)

int

In [79]:
a = 'Five'

In [80]:
a

'Five'

In [82]:
type(a)

str

In [84]:
# int(a)

In [88]:
a = int(input("Enter your marks "))

Enter your marks 56

In [89]:
a

56

In [90]:
type(a)

int

In [1]:
# Comparision Opertor

In [54]:
x = 16
y = 16

In [55]:
y > x

False

In [ ]:
>-- gt
<--- less
<= -- less eq
>= --- gt eq
== --- comp/ equal
!= --- not equal

In [53]:
y < x

False

In [12]:
y <= x

True

In [16]:
x >= y

True

In [20]:
x == y

False

In [23]:
x != y

False

In [42]:
x = 8
y = 9
z = 7

In [35]:
x<z>y

False

In [36]:
z > y and z > x

False

In [43]:
z > y or z > x

False

In [45]:
not z > y

True

In [46]:
cp = 100
sp = 150
p = sp - cp
print("I made a profit of ",p)

I made a profit of  50

In [47]:
cp = 100
sp = 50
l = cp - sp
print("I made a loss of ",l)

I made a loss of  50

In [48]:
cp = 100
sp = 150

p = sp - cp
print("I made a profit of ",p)


l = cp - sp
print("I made a loss of ",l)

I made a profit of  50
I made a loss of  -50

In [ ]:
if condition/req/logic:
    statement/action/task
else:
    statement 2

In [60]:
marks = 0
if marks >=35:
    print("Pass")
else:
    print('Fail')

Fail

In [62]:
cp = 100
sp = 50
if sp>cp:
    p = sp - cp
    print("I made a profit of ",p)

else:
    l = cp - sp
    print("I made a loss of ",l)

I made a loss of  50

In [ ]:
x = 5
y = 6
greatest

In [65]:
x = 8
y = 6
if x > y:
    print("x is greatest")
else:
    print("y is greatest")

x is greatest

In [67]:
x = 5
y = 6
if x < y:
    print("x is smallest")
else:
    print("y is smallest")

x is smallest

In [ ]:
x = 5
y = 6
smallest

In [ ]:
x = 5
positive /negative

In [73]:
x = 0
if x >=0:
    print("Number is positive")
else:
    print("Number is negative")

Number is positive

In [ ]:
x = 7
even / odd

In [76]:
x = 7
if not x%2 :
    print("Even")
else:
    print("Odd")

Odd

In [82]:
x = 6
if x%2==0:
    print("Even")
else:
    print("Odd")

Even

In [83]:
# not 6%2

In [ ]:
n1 = 5
n2 = 6
n3 = 7

In [91]:
x = -9
if x >0:
    print("Number is positive")
elif x==0:
    print("Number is equal to zero")
else:
    print("Number is negative")

Number is negative

In [93]:
n1 = 5
n2 = 5
n3 = 5

if n1>n2 and n1>n3:
    print("n1 is greatest")
elif n2>n3 and n2>n1:
    print("n2 is greatest")
else: 
    print("n3 is greatest")

n3 is greatest

In [105]:
n1 = 11
n2 = 9
n3 = 13
if n1 > n2:
    if n1>n3:
        print("n1 is gt")
    else:
        print('n3 is gt')
else:
    if n2>n3:
        print("n2 is gt")
    else:
        print("n3 is gt")

n3 is gt

In [ ]:
marks = 85
print grade
80 - 100. A
60 - 80 - B
40 - 60 - C
40 -      E

In [7]:
marks=int(input("Enter your marks here"))
if 80<marks<100:
    print("your grade is A")
elif 60<marks<80:
    print("your grade is B")
elif 40<marks<60:
    print("your grade is C")
else:
    print("your grade is E")

Enter your marks here60
your grade is E

In [15]:
marks=int(input("Enter your marks here: "))
if 80<=marks<=100:
    print("your grade is A")
elif 60<=marks<80:
    print("your grade is B")
elif 40<=marks<60:
    print("your grade is C")
else:
    print("your grade is E")

Enter your marks here: 99
your grade is A

In [ ]:
income = 
tax ? 
income after tax

In [ ]:
5 > - NO TAX
5 - 7 - 5%
7 - 9 - 10%
9 -12 - 15%
12- 15 -20%
15 < -25%

In [21]:
income = int(input('Enter your income: '))
if income <= 500000:
    print('No Tax')
elif income <= 700000:
    print("tax : ",(income*5)/100)
elif income <= 900000:
    print("tax : ",(income*10)/100)
elif income <= 1200000:
    print("tax : ",(income*15)/100)
elif income <= 1500000:
    print("tax : ",(income*20)/100)
else:
    print("tax : ",(income*25)/100)

Enter your income: 1000000
tax :  150000.0

In [28]:
age = int(input("Enter is your age ? "))
if age >= 18:
    print("Ok 1st Check done")
    voter = input("Tell me one thing that do you have a voter card ? (Y/N)")
    if voter == "Y" or voter == "y" :
        print("Congrst you are allowed to vote")
    else:
        print("Then first apply for voter card")
else:
    print("No allowed")

Enter is your age ? 19
Ok 1st Check done
Tell me one thing that do you have a voter card ? (Y/N)y
Congrst you are allowed to vote

In [30]:
age = int(input("Enter is your age ? "))
if age >= 18:
    print("Ok 1st Check done")
    voter = input("Tell me one thing that do you have a Driving card ? (Y/N)")
    if voter == "Y" or voter == "y" :
        print("Congrst you are allowed to Drive")
    else:
        print("Then first apply for Driving Licence")
else:
    print("No allowed")

Enter is your age ? 20
Ok 1st Check done
Tell me one thing that do you have a voter card ? (Y/N)N
Then first apply for Driving Licence

In [34]:
age = int(input("Enter is your age ? "))
if age >= 18:
    print("Ok 1st Check done")
    voter = input("Tell me one thing that do you have a Driving card ? (Y/N)")
    if voter == "Y" or voter == "y" :
        print("Congrst you are allowed to Drive")
    else:
        app = input("Do you have a learning licence ?")
        if app == "y" or app =="Y":
            print('You are allowed')
        else:
            print("Then first apply for learning Driving Licence")
else:
    print("No allowed")

Enter is your age ? 20
Ok 1st Check done
Tell me one thing that do you have a Driving card ? (Y/N)N
Do you have a learning licence ?N
Then first apply for learning Driving Licence

In [37]:
print("Hello ")
print("Hello ")
print("Hello ")
print("Hello ")
print("Hello ")
print("Hello ")
print("Hello ")
print("Hello ")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [52]:
for i in range(15):
    print("Performing rep num ",i)
print("Take rest for 30sec")

Performing rep num  0
Performing rep num  1
Performing rep num  2
Performing rep num  3
Performing rep num  4
Performing rep num  5
Performing rep num  6
Performing rep num  7
Performing rep num  8
Performing rep num  9
Performing rep num  10
Performing rep num  11
Performing rep num  12
Performing rep num  13
Performing rep num  14
Take rest for 30sec

In [41]:
for i in range(1,16):
    print("Performing rep num ",i)

Performing rep num  1
Performing rep num  2
Performing rep num  3
Performing rep num  4
Performing rep num  5
Performing rep num  6
Performing rep num  7
Performing rep num  8
Performing rep num  9
Performing rep num  10
Performing rep num  11
Performing rep num  12
Performing rep num  13
Performing rep num  14
Performing rep num  15

In [45]:
# for i in range(1500):
#     print("Hello")

In [55]:
for i in range(1,16,3):
    print("Performing rep num ",i)

Performing rep num  1
Performing rep num  4
Performing rep num  7
Performing rep num  10
Performing rep num  13

In [56]:
for i in range(15,0,-1):
    print(i)

15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [58]:
for i in range(15,0,2):
    print(i)

In [59]:
for i in range(10):
    if i % 2 ==0:
        print("Even ",i)
    else:
        print("Odd ",i)

Even  0
Odd  1
Even  2
Odd  3
Even  4
Odd  5
Even  6
Odd  7
Even  8
Odd  9

In [62]:
for i in range(0,11,2):
        print("even",i)

even 0
even 2
even 4
even 6
even 8
even 10

In [63]:
for i in range(1,11,2):
        print("Odd",i)

Odd 1
Odd 3
Odd 5
Odd 7
Odd 9

In [66]:
n = 10
s = 0
for i in range(n+1):
    s = s+i
print("Sum of n natural number is ",s)

Sum of n natural number is  55

In [76]:
fact=1
a=int(input("Enter number "))
for i in range(1,a+1):
    fact=fact*i
    print(i)
print("factorial of a number is :" ,fact)

Enter number 5
1
2
3
4
5
factorial of a number is : 120

In [77]:
fact=1
a=int(input("Enter number"))
for i in range(a,0,-1):
     fact=fact*i
     print(i)
print("factorial of a number is :" ,fact)

Enter number5
5
4
3
2
1
factorial of a number is : 120

In [80]:
student = int(input('Enter the student count '))
for i in range(student):
    marks = int(input('Enter your marks'))
    if marks >= 80:
        print('Grade A')
    elif marks >= 60:
        print('Grade B')
    elif marks >= 40:
        print('Grade C')
    else:
        print('Grade E')

Enter the student count3
Enter your marks5
Grade E
Enter your marks55
Grade C
Enter your marks80
Grade A

In [ ]:
student = int(input('Enter the student count '))
for i in range(student):
    marks = int(input('Enter your marks'))
    if marks >= 80:
        print('Grade A')
    elif marks >= 60:
        print('Grade B')
    elif marks >= 40:
        print('Grade C')
    else:
        print('Grade E')

In [8]:
age=int(input("Enter your age here"))
if age>=18:
    print("Ok first check done")
    voter=input("Do u have voter card?Y/N")
    if voter=="Y" or voter=="Yes":
        print("congrats you are allowed to drive")
    else:
        print("Apply for voter card")
else:
    print("not allowed")

Enter your age here18
Ok first check done
Do u have voter card?Y/NY
congrats you are allowed to drive

In [5]:
5 >=8

False

In [ ]:
* * *
* * *
* * *

In [9]:
print("* * *")
print("* * *")
print("* * *")

* * *
* * *
* * *

In [10]:
for i in range(3):
    print("* * *")

* * *
* * *
* * *

In [11]:
print("Hello")
print("Hi")

Hello
Hi

In [12]:
print("Hello \nHi")

Hello
Hi

In [14]:
print("Hello",end=" ")
print("Hi")

Hello Hi

In [21]:
s = 7
for i in range(s):
    for j in range(s):
        print("*",end=" ")
    print()

* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *

In [ ]:
* * * *
* * * *
* * * *

In [22]:
l = 4
b = 3
for i in range(b):
    for j in range(l):
        print("*",end=" ")
    print()

* * * *
* * * *
* * * *

In [ ]:
*
* *
* * * 
* * * *
* * * * *

* * * * *
* * * *
* * *
* *
*

In [32]:
n = 5
for i in range(1,n+1):
       for j in range(i):
              print("*",end= ' ')
       print()

*
* *
* * *
* * * *
* * * * *

In [34]:
for i in range(1,6):
    print("* "*i)

*
* *
* * *
* * * *
* * * * *

In [23]:
for i in range(5,0,-1):
    print("* "*i)

* * * * *
* * * *
* * *
* *
*

In [35]:
n = 5
for i in range(n,0,-1):
       for j in range(i):
              print("*",end= ' ')
       print()

* * * * *
* * * *
* * *
* *
*

In [36]:
n = 5
for i in range(1,n+1):
       for j in range(i):
              print("*",end= ' ')
       print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
*
* * *
* * * * * 
* * * * * * *

In [44]:
n = 5
for i in range(1,5):
    for j in range(n,i,-1):
        print("*",end= ' ')
    print()

* * * *
* * *
* *
*

In [54]:
n = 5
for i in range(1,n*2,2):
    for j in range(1,i+1):
        print('*',end=' ')
    print('')

*
* * *
* * * * *
* * * * * * *
* * * * * * * * *

In [52]:
n = 5
k = 1
for i in range(n):
    for j in range(k):
        print('*',end=' ')
    k+=2
    print('')

*
* * *
* * * * *
* * * * * * *
* * * * * * * * *

In [70]:
n=5

for i in range(1,n):
#     print("i is ",i)
    for k in range(n-i-1):
#         print("k is ",k)
#     print( )
        print(" ",end='')
    for j in range(i):
        print('* ',end='')
    
    print()

   *
  * *
 * * *
* * * *

In [66]:
n=5

for i in range(1,n):
    for k in range(n-i):
        print(" ",end='')
    for j in range(i):
        print(' *',end='')
    
    print()

     *
    * *
   * * *
  * * * *

In [72]:
n=5

for i in range(n,0,-1):
    for k in range(n-i):
        print(" ",end='')
    for j in range(i):
        print('*',end=' ')
    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [14]:
for row in range(7):
    for col in range(5):
        if ((col ==0 or col==4) and row!=0):
            print("*",end="")
        elif ((row ==0 or row ==3) and (col > 0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ***
*   *
*   *
*****
*   *
*   *
*   *

In [20]:
for row in range(7):
    for col in range(5):
        if ((col ==0 or col==4) and row!=0) or ((row ==0 or row ==3) and (col > 0 and col<4)):
            print("*",end="")  
        else:
            print(end=" ")
    print()

 ***
*   *
*   *
*****
*   *
*   *
*   *

In [21]:
for row in range(7):
    for col in range(5):
        if (col ==0 or col==4) or ((row ==0 or row ==3) and (col > 0 and col<4)):
            print("*",end="")  
        else:
            print(end=" ")
    print()

*****
*   *
*   *
*****
*   *
*   *
*   *

In [25]:
for row in range(7):
    for col in range(5):
        if (col ==0 or col==4) or ((row ==0 or row ==3 or row==6) and (col > 0 and col<4)):
            print("*",end="")  
        else:
            print(end=" ")
    print()

*****
*   *
*   *
*****
*   *
*   *
*****

In [27]:
for row in range(7):
    for col in range(5):
        if (col ==0) or (col==4 and (row!=0 and row!=3 and row!=6)) or ((row ==0 or row ==3 or row==6) and (col > 0 and col<4)):
            print("*",end="")  
        else:
            print(end=" ")
    print()

****
*   *
*   *
****
*   *
*   *
****

In [33]:
for row in range(7):
    for col in range(6):
        if col ==0 or (col ==4 and (row!=1 and row!=2)):
            print("*",end="")  
        elif ((row ==0 or row==6) and (col > 0 and col<4)):
            print("*",end="")
        elif (row==3 and (col==3 or col==5)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*
*
*  ***
*   *
*   *
*****

In [35]:
for row in range(7):
    for col in range(6):
        if (col ==0 and (row!=0 and row!=6)) or (col ==4 and (row!=1 and row!=2)):
            print("*",end="")  
        elif ((row ==0 or row==6) and (col > 0 and col<4)):
            print("*",end="")
        elif (row==3 and (col==3 or col==5)):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ****
*
*
*  ***
*   *
*   *
 ****

# While loop

In [ ]:
var inti
while (condition):
    statement/ action
    var increment / dcrement
Rest of the code

In [2]:
a = 1
while a<=10:
    print(a)
    a +=1

print("outside the while a is ",a)

1
2
3
4
5
6
7
8
9
10
outside the while a is  11

In [3]:
11 <=10

False

In [4]:
a = 1
while a<=10:
    print(a)
    a +=2

print("outside the while a is ",a)

1
3
5
7
9
outside the while a is  11

In [5]:
a = 1
while a<=10:
    print(a)
    a +=2

print("outside the while a is ",a)

1
3
5
7
9
outside the while a is  11

In [7]:
a = 10
while a>=0:
    print(a)
    a-=1
    
print("outside the while a is ",a)

10
9
8
7
6
5
4
3
2
1
0
outside the while a is  -1

In [9]:
a = 10
while a>=0:
    print(a)
    a-=1

else:
    print("Now i am in else block my value is ",a)
    
print("outside the while a is ",a)

10
9
8
7
6
5
4
3
2
1
0
Now i am in else block my value is  -1
outside the while a is  -1

In [13]:
a = 1
while a<=10:
    if a%2 ==0:
        print("a is even",a)
        a+=1
    else:
        print("a is odd ",a)
        a+=1

a is odd  1
a is even 2
a is odd  3
a is even 4
a is odd  5
a is even 6
a is odd  7
a is even 8
a is odd  9
a is even 10

In [16]:
a = 0
while a<10:
    a+=1
    if a%2 ==0:
        print("a is even",a)
        
    else:
        print("a is odd ",a)
        
print("Now i am outside",a)

a is odd  1
a is even 2
a is odd  3
a is even 4
a is odd  5
a is even 6
a is odd  7
a is even 8
a is odd  9
a is even 10
Now i am outside 10

In [25]:
n = 10
s = 0
while n>0:
    s+=n
    n-=1
    print(s)
print("Sum of first n natural number is ",s)

10
19
27
34
40
45
49
52
54
55
Sum of first n natural number is  55

In [20]:
9>0

True

In [27]:
n = 10
s = 0
i = 1
while i <=n:
    s+=i
    i+=1

print("Sum of first n natural number is ",s)

Sum of first n natural number is  55

In [29]:
n = 5
f = 1
i = 1
while i <=n:
    f*=i
    i+=1

print("Sum of first n natural number is ",f)

Sum of first n natural number is  120

In [32]:
user = 0
while user != "q":
    user = input("Enter your input ")
print("Now i am done")

Enter your input i
Enter your input p
Enter your input r
Enter your input c
Enter your input s
Enter your input q
Now i am done

In [ ]:
while True:
    print("Infinite")

In [33]:
i = 0
while True:
    i+=1
    print(i)
    if i ==3:
        break
        
print("Bye")

1
2
3
Bye

In [40]:
for i in range(1,11):
    print(i)
    if i ==3:
        break
print("bye")

1
2
3
bye

In [44]:
for i in range(1,11):
    if i ==5 or i ==3:
        continue
    else:
        print(i)
print("bye")

1
2
4
6
7
8
9
10
bye

In [48]:
i = 0
while i <=10:
    i+=1
    if i ==3 or i ==5:
        continue
    else:
        print(i)

1
2
4
6
7
8
9
10
11

In [50]:
for i in range(10):
    pass
print("Hello")

Hello

In [51]:
i =  1
while i <=3:
    print("Outter loop",i)
    i+=1
    j = 1
    while j <=3:
        print("Inner loop",j)
        j+=1
        
        
        
print("Outside both loop")

Outter loop 1
Inner loop 1
Inner loop 2
Inner loop 3
Outter loop 2
Inner loop 1
Inner loop 2
Inner loop 3
Outter loop 3
Inner loop 1
Inner loop 2
Inner loop 3
Outside both loop

In [ ]:
*
* *
* * *
* * * *

In [54]:
k=i=5

while i>0:
    j=k-i+1
    while j>0:
        print('*',end=' ')
        j-=1
    print()
    i-=1

*
* *
* * *
* * * *
* * * * *

In [56]:
num = 5
row = 0
while row <num:
    star = row+1
    while star >0:
        print("*",end=" ")
        star = star -1
    row+=1
    print()

*
* *
* * *
* * * *
* * * * *

In [57]:
num = 4
row = 0
while row <num:
    space = num - row -1
    while space >0:
        print(end=" ")
        space -= 1
    star = row +1
    while star >0:
        print("*",end=" ")
        star -=1
        
    row +=1
    print()

   *
  * *
 * * *
* * * *

In [5]:
a = 'Hello'

In [6]:
a

'Hello'

In [7]:
b = "Hello"

In [8]:
type(a)

str

In [9]:
type(b)

str

In [10]:
c = '''Hello'''

In [11]:
c

'Hello'

In [12]:
type(c)

str

In [13]:
d = """ Hello """

In [14]:
d

' Hello '

In [15]:
b = "Hello, Welcome to 
    The World of Python"

SyntaxError: EOL while scanning string literal (<ipython-input-15-9a137e444cd9>, line 1)

In [16]:
b = 'Hello, Welcome to 
    The World of Python'

SyntaxError: EOL while scanning string literal (<ipython-input-16-3025c9a3c9dd>, line 1)

In [21]:
b = """Hello, Welcome to 
The World of Python"""

In [22]:
print(b)

Hello, Welcome to
The World of Python

In [24]:
a = "I'm learning Python"

In [25]:
a

"I'm learning Python"

In [26]:
d = "Brillica"

In [30]:
d[7]

'a'

In [31]:
d[-1]

'a'

In [32]:
d[0]

'B'

In [33]:
d[-8]

'B'

In [ ]:
d[start:stop:step]

In [35]:
d[0:3:1]

'Bri'

In [36]:
b = "Hello, Welcome to The World of Python"

In [37]:
b

'Hello, Welcome to The World of Python'

In [43]:
b[-1:-38:-1]

'nohtyP fo dlroW ehT ot emocleW ,olleH'

In [49]:
b[::-1]

'nohtyP fo dlroW ehT ot emocleW ,olleH'

In [41]:
len(b)

37

In [46]:
# b[-37:-1:1]

In [51]:
# b[39]

In [53]:
# b[1.5]

In [55]:
b[0] = "h"

TypeError: 'str' object does not support item assignment

In [56]:
b

'Hello, Welcome to The World of Python'

In [57]:
b = "hello"

In [58]:
b

'hello'

In [59]:
del b[0]

TypeError: 'str' object doesn't support item deletion

In [60]:
a = "hi"
b ="hello"

In [61]:
a+b

'hihello'

In [62]:
a * 5

'hihihihihi'

In [65]:
a = ('Hello '
    'World')

In [66]:
a

'Hello World'

In [67]:
len(a)

11

In [70]:
c = 0
for i in a:
    c+=1
print("Length of a string ",c)

Length of a string  11

In [73]:
c = 0
for i in a:
    if i == "o":
        c+=1
print("Count of o ",c)

Count of o  2

In [76]:
"t" in "Hello"

False

In [77]:
"t" not in "Hello"

True

In [78]:
a

'Hello World'

In [82]:
for i in range(len(a)):
    print("At index",i,"Value is",a[i])

At index 0 Value is H
At index 1 Value is e
At index 2 Value is l
At index 3 Value is l
At index 4 Value is o
At index 5 Value is
At index 6 Value is W
At index 7 Value is o
At index 8 Value is r
At index 9 Value is l
At index 10 Value is d

In [84]:
for i,j in enumerate(a):
    print("At index",i,"Value is",j)

At index 0 Value is H
At index 1 Value is e
At index 2 Value is l
At index 3 Value is l
At index 4 Value is o
At index 5 Value is
At index 6 Value is W
At index 7 Value is o
At index 8 Value is r
At index 9 Value is l
At index 10 Value is d

In [85]:
print("He Said, "What's there ?")

SyntaxError: invalid syntax (<ipython-input-85-56fcbdeaaf75>, line 1)

In [86]:
print('''He Said, "What's there ?''')

He Said, "What's there ?

In [87]:
print("""He Said, "What's there ?""")

He Said, "What's there ?

In [88]:
print('He Said, "What's there ?')

SyntaxError: invalid syntax (<ipython-input-88-a63ca31e0235>, line 1)

In [94]:
print('He Said, "What\'s there ?')

He Said, "What's there ?

In [91]:
print("He Said, \"What's there ?")

He Said, "What's there ?

In [92]:
print("Hello \nHi")

Hello
Hi

In [98]:
print("D:\Old Data\Excel")

D:\Old Data\Excel

In [99]:
print("{} {} {}".format("Naman","Raman","Shiv"))

Naman Raman Shiv

In [100]:
print("{1} {0} {2}".format("Naman","Raman","Shiv"))

Raman Naman Shiv

In [101]:
print("{c} {b} {a}".format(a="Naman",b="Raman",c="Shiv"))

Shiv Raman Naman

In [105]:
print("Binary Rep of {0} is {0:b}".format(3))

Binary Rep of 3 is 11

In [106]:
print("Exponential Rep of {0} is {0:e}".format(456.892))

Exponential Rep of 456.892 is 4.568920e+02

In [107]:
print(1/3)

0.3333333333333333

In [109]:
print("One third is {0:.2f}".format(1/3))

One third is 0.33

In [110]:
print("|{:<10}|{:^10}|{:>10}".format("Bread", "Butter","Jam"))

|Bread     |  Butter  |       Jam

In [120]:
x = 12.3456867
print("The val of x is%7.3f"%x)

The val of x is 12.346

In [121]:
a = "Hello"

In [122]:
a.capitalize()

'Hello'

In [125]:
a = a.lower()

In [126]:
a

'hello'

In [127]:
a.lower()

'hello'

In [128]:
a.upper()

'HELLO'

In [130]:
# dir(str)

In [132]:
# help(str)

In [7]:
email= "nandesh74581@gmail.com"

In [8]:
email.split("@")[0]

'nandesh74581'

In [9]:
ind = email.index("@")

In [10]:
user = email[:ind]
print(user)

nandesh74581

In [11]:
print(email[ind+1:-4])

gmail

In [43]:
a = "Deabr"
"De" in a

True

In [44]:
a1 = a.lower()
c = 0
for i in range(len(a1)-1):
    if ord(a1[i+1]) - ord(a1[i]) == 1:
        print(a1[i],a1[i+1])

d e
a b

In [ ]:
a

In [24]:
ord("a")

97

In [27]:
chr(91)

'['

In [18]:
a[:2]

'De'

In [17]:
"ea" in a

True

In [47]:
name = input('name')
gen = input('gender')
married = input('is married')

if gen == 'male':
    if married == 'y':
        name = 'Mr.'+name
    else:
        name = 'Mr.'+name
else:
    if married == 'y':
        name = 'Mrs.'+name
    else:
        name = 'Miss.'+name
print(name)

nameNaina Sharma
genderFemale
is marriedYes
Miss.Naina Sharma

In [48]:
name=input("enter your name here:")
gender=input("enter your gender here:")
if gender=="male" or "m":
    print("Mrs")
else: 
    print("Mrs")

enter your name here:Nandesh Prasad
enter your gender here:Male
Mrs

In [49]:
name = input('name')
gen = input('gender')
married = input('is married')

if gen == 'male' or gen == 'Male':
    if married == 'y':
        name = 'Mr. '+name
    else:
        name = 'Mr. '+name
elif gen == 'female' or gen == 'Female':
    if married == 'y':
        name = 'Mrs.'+name
    else:
        name = 'Miss.'+name
print(name)

nameNaina Sharma
genderFemale
is marriedYes
Miss.Naina Sharma

In [55]:
a = "Yesssssssssssssssssssssss"
# "Yeah"
# "Yesssssssssssssssssssssss"

In [56]:
a.lower().startswith("y")

True

In [63]:
name = input('name')
gen = input('gender')
married = input('is married')

if gen.lower().startswith('m'):
    if married.lower().startswith('y'):
        name = 'Mr.'+name
    else:
        name = 'Mr.'+name
elif gen.lower().startswith('f') :
    if married.lower().startswith('y'):
        name = 'Mrs.'+name
    else:
        name = 'Miss.'+name
print(name)

nameRani
genderFemale
is marriedoiuytfdfhjkl
Miss.Rani

In [61]:
name = input('name')
gen = input('gender')
married = input('is married')

if gen.lower().startswith('m'):
    if married.lower().startswith('y'):
        name = 'Mr.'+name
    else:
        name = 'Mr.'+name
else:
    if married.lower().startswith('y'):
        name = 'Mrs.'+name
    else:
        name = 'Miss.'+name
print(name)

nameShivani
genderHTVGDBHJKHGVC
is marriedKJHGFCDCXZVGHJKL;
Miss.Shivani

In [ ]:
Write a program that accepts the lengths of three sides of a triangle
as inputs. The program output should indicate whether or not the triangle
is a right triangle

In [66]:
n=7

for i in range(1,n*2):
    if i<=n:
        print('* '*i)
    else:
        print('* '*((n*2)-i))

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [12]:
for i in range(7):
    for j in range(i+1):
        print("*",end=" ")
    print()
    
for i in range(6,0,-1):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [65]:
for i in range(0,6,1):
    for j in range(0,i+1,1):
        print("*",end="")
    print()
for i in range(4,-1,-1):
    for j in range(0,i+1,1):
        print("*",end="")
    print()

*
**
***
****
*****
******
*****
****
***
**
*

In [ ]:
a,b,c = input("Enter 3 value : ")

In [7]:
side1 = int(input("Enter the first side of triangle  "))
side2 = int(input("Enter the second side of triangle  "))
side3 = int(input("Enter the third side of triangle  "))


if side1**2 == side2**2+side3**2 or side2**2 == side1**2+side3**2 or  side3**2 == side2**2+side1**2:
    print('Yes')
else:
    print('No')

Enter the first side of triangle  12
Enter the second side of triangle  5
Enter the third side of triangle  13
Yes

In [3]:
13**2

169

In [4]:
121+124

245

In [5]:
36 + 64

100

In [8]:
k=11
c=r=0
mid = k-1
while c<(2*k)-1:
    r=0
    while r<(2*k)-1:
        if((mid == c+r) or (mid == c-r) or (mid == r-c) or (3*mid == r+c)):
            print('* ',end='')
        else:
            print('  ',end='')
        r+=1
    print()
    c+=1

                    *
                  *   *
                *       *
              *           *
            *               *
          *                   *
        *                       *
      *                           *
    *                               *
  *                                   *
*                                       *
  *                                   *
    *                               *
      *                           *
        *                       *
          *                   *
            *               *
              *           *
                *       *
                  *   *
                    *

In [13]:
n1 = "Ram"
n2 = "Sham"
n3 = "Rajan"
n4 = "Ravi"

In [14]:
n1 = []

In [15]:
type(n1)

list

In [16]:
n2 = [10,11,12]

In [17]:
n2

[10, 11, 12]

In [18]:
n3 = ["Hi","Hey","Hello"]

In [19]:
n3

['Hi', 'Hey', 'Hello']

In [20]:
n4 = ["Key",52,63.2]

In [21]:
n4

['Key', 52, 63.2]

In [22]:
n5 = [n4,52,65.3,"Hi"]

In [23]:
n5

[['Key', 52, 63.2], 52, 65.3, 'Hi']

In [24]:
type(n5)

list

In [25]:
n7 = ["p",'y',"t","h","o","n"]

In [26]:
n7

['p', 'y', 't', 'h', 'o', 'n']

In [27]:
n7[0]

'p'

In [28]:
n7[-1]

'n'

In [29]:
n7[:3]

['p', 'y', 't']

In [30]:
n7[-3:]

['h', 'o', 'n']

In [31]:
n7[1:4]

['y', 't', 'h']

In [32]:
n7[1::2]

['y', 'h', 'n']

In [34]:
n7[5.0]

In [36]:
odd = [2,4,6,8]

In [37]:
odd[0] = 1

In [38]:
odd

[1, 4, 6, 8]

In [39]:
odd[1:] = [3,5,7]

In [40]:
odd

[1, 3, 5, 7]

In [41]:
odd.append(9)

In [42]:
odd

[1, 3, 5, 7, 9]

In [43]:
odd.append([11,13])

In [44]:
odd

[1, 3, 5, 7, 9, [11, 13]]

In [45]:
odd.extend([11,13,15])

In [46]:
odd

[1, 3, 5, 7, 9, [11, 13], 11, 13, 15]

In [47]:
odd = [1,5,7]

In [48]:
odd

[1, 5, 7]

In [49]:
print(odd + [9,11,13])

[1, 5, 7, 9, 11, 13]

In [50]:
odd

[1, 5, 7]

In [51]:
print(odd*3)

[1, 5, 7, 1, 5, 7, 1, 5, 7]

In [66]:
odd = [1,9]

In [67]:
odd.insert(1,3)

In [68]:
odd

[1, 3, 9]

In [55]:
odd[1:] = [5,7]

In [56]:
odd

[1, 5, 7]

In [69]:
odd[2:2] = [5,7]

In [70]:
odd

[1, 3, 5, 7, 9]

In [83]:
odd = ['p','y','t','h','o','n']

In [72]:
odd

['p', 'y', 't', 'h', 'o', 'n']

In [73]:
odd.pop()

'n'

In [74]:
odd

['p', 'y', 't', 'h', 'o']

In [75]:
odd.pop(1)

'y'

In [76]:
odd

['p', 't', 'h', 'o']

In [77]:
del odd[2]

In [78]:
odd

['p', 't', 'o']

In [79]:
odd.remove("p")

In [80]:
odd

['t', 'o']

In [81]:
del odd

In [82]:
odd

NameError: name 'odd' is not defined

In [84]:
odd.clear()

In [85]:
odd

[]

In [86]:
n = ["p","y","t","h","o","n"]

In [87]:
n[2:3] = []

In [88]:
n

['p', 'y', 'h', 'o', 'n']

In [92]:
n

['p', 'y', 'h', 'o', 'n']

In [91]:
n1 = n

In [93]:
n1

['p', 'y', 'h', 'o', 'n']

In [94]:
n1.pop()

'n'

In [95]:
n1

['p', 'y', 'h', 'o']

In [96]:
n

['p', 'y', 'h', 'o']

In [97]:
n2 = n.copy()

In [98]:
n2

['p', 'y', 'h', 'o']

In [99]:
n2.pop()

'o'

In [100]:
n2

['p', 'y', 'h']

In [101]:
n

['p', 'y', 'h', 'o']

In [103]:
n = []

for i in range(5):
    var = int(input("Enter any value : "))
    n.append(var)
print(n)

Enter any value : 6
Enter any value : 4
Enter any value : 5
Enter any value : 2
Enter any value : 3
[6, 4, 5, 2, 3]

In [ ]:
n1 = [5,8,4,15]
n2 = [1,2,3,4]
n3 = [11,22,33,44]
n4 = [10,40,90,160]

In [10]:
n1 = [5,8,4,15]
n2 = [1,2,3,4]
n3 = []
n4 = []
s = 0
p = 0

if len(n1) == len(n2):
    for i in range(len(n1)):
        s = n1[i] +n2[i]
        p = n1[i] * n2[i]
        n3.append(s)
        n4.append(p)
    print("Sum of all the elements is ",n3)
    print("Product of all the elements is  ",n4)
else:
    print("Both the list should have the same num of elements")

Sum of all the elements is  [6, 10, 7, 19]
Product of all the elements is   [5, 16, 12, 60]

In [3]:
# while True:
#     print('hI')

In [ ]:
n1 = [10,10,20,30,10,40,50]
n = 10
present 
occurance
position

In [ ]:
n1 = [10,10,20,30,10,40,50]

In [ ]:
sort a list

In [ ]:
n1 = [10,20,30]
n2 = [2,3,1]
n3 = [10,10,20,20,20,30]

In [58]:
n1 = [15,23,45,78]
max(n1)

78

In [63]:
5//2

2

In [14]:
n1 = [10,10,20,30,10,40,50]
n = 5
cnt = 0
pos = []
if n not in n1:
    print("Not Found")

else:
    print("Number Found")
    for i in range(len(n1)):
        if n1[i] == n:
            cnt+=1
            pos.append(i)
            
    print("Oucrance ",cnt)
    print("Position at which found",pos)

Not Found

In [18]:
n1 = [15,23,11,5,45]

In [41]:
# n1 = [2,3,5,7,7,12,6,8,10,3]
n1 = [23,15,5,5,5,5,11,3]

for i in range(len(n1)):
    print("Before",n1,i)
    for j in range(len(n1)-1):
        if n1[j] > n1[j+1]:
            
            n1[j],n1[j+1] = n1[j+1],n1[j]
#             print("Inside")
print(n1)

Before [23, 15, 5, 5, 5, 5, 11, 3] 0
Before [15, 5, 5, 5, 5, 11, 3, 23] 1
Before [5, 5, 5, 5, 11, 3, 15, 23] 2
Before [5, 5, 5, 5, 3, 11, 15, 23] 3
Before [5, 5, 5, 3, 5, 11, 15, 23] 4
Before [5, 5, 3, 5, 5, 11, 15, 23] 5
Before [5, 3, 5, 5, 5, 11, 15, 23] 6
Before [3, 5, 5, 5, 5, 11, 15, 23] 7
[3, 5, 5, 5, 5, 11, 15, 23]

In [53]:
%%timeit
n1 = [23,15,5,5,5,5,11,3]

for i in range(len(n1)):
#     print("Before",n1,i)
    for j in range(len(n1)-1):
        if n1[j] > n1[j+1]:
            
            n1[j],n1[j+1] = n1[j+1],n1[j]
#             print("Inside")
# print(n1)

20.4 s  3.24 s per loop (mean  std. dev. of 7 runs, 100000 loops each)

In [54]:
%%timeit
n1 = [23,15,5,5,5,5,11,3]
n1.sort()

478 ns  99.7 ns per loop (mean  std. dev. of 7 runs, 1000000 loops each)

In [56]:
# help(n1.sort())

In [57]:
# n1 = [23,15,5,5,5,5,11,3]

# for i in n1:
    
#     for j in range(len(n1)-1):
#         if i > n1[j+1]:
#             n1[j],n1[j+1] = n1[j+1],n1[j]
#         print(n1)

In [16]:
n1.sort()

In [17]:
n1

[5, 11, 15, 23, 45]

In [68]:
n1 = [15, 23, 45, 78,44,52,63,51,94,36,41]

m1 = n1[0]
for i in range(len(n1)):
    if m1 < n1[i]:
        m1 = n1[i]
print(m1)

94

In [ ]:
l1 = []
st = []

n = int(input('number of student'))
for i in range(n):
    st.append(input('Enter the name of student  '))
    l1.append(int(input('Enter the marks of student  ')))


m1 = l1[0]
s = 0
for i in range(len(l1)):
    if m1 < l1[i]:
        m1 = l1[i]
        s = i
        
print('\n',st[s],' gets the highest marks ',end='')
print(max)

In [ ]:
n1 = [10,15,12,36,10,12,15,16,36]

find all the unique  values in a list

In [1]:
n1 = [10,15,12,36,10,12,15,16,36]
n= []
for i in n1:
    if i not in n:
        n.append(i)
        
        
print(n)

[10, 15, 12, 36, 16]

In [ ]:
given a list of odd and even number create a list of only even

In [2]:
num = [4,3,1,5,6,7,8,9,10,11]
n = []
for i in num:
    if i % 2==0:
        n.append(i)
print(n)

[4, 6, 8, 10]

In [74]:
sq = []
for i in range(1,5):sq.append(i**2)

In [75]:
sq

[1, 4, 9, 16]

In [79]:
[i**2 for i in range(1,5) if i % 2==0]

[4, 16]

In [7]:
name=input("Enter your name here: ")
gender=input("Enter your gender here: ")
married=input("Enter your marital status here: ")
if gender.lower().startswith("m"):
    if married=="yes" or "y":
        print('Mr'+" "+name)
        
else:
    if married=="yes" or "y":
        print('Mrs'+" "+name)
    else:
        print('Miss'+" "+name)

Enter your name here: Naina Sharma
Enter your gender here: F
Enter your marital status here: N

NameError: name 'gende' is not defined

In [12]:
name="Naina Sharma"
gender="F"
married="N"
if gender.lower().startswith("m"):
    if married=="yes" or "y":
        print('Mr'+" "+name)        
else:
    if married.lower().startswith("y"):
        print('Mrs'+" "+name)
    else:
        print('Miss'+" "+name)

Miss Naina Sharma

In [ ]:
var = 3
n = [['Name',5,6,7,"Avg"],]
out = ['Name',[5,6,7,'Avg'],]

In [13]:
n = []
n.append(["Name",5,6,7,"Avg"])

In [15]:
n.append(["Name1",51,61,71,"Avg1"])

In [16]:
n

[['Name', 5, 6, 7, 'Avg'], ['Name1', 51, 61, 71, 'Avg1']]

In [17]:
n1 = []

In [18]:
name = "Naman"
n1.append(name)

In [19]:
n1

['Naman']

In [20]:
n1.append([4,5,6,"Avg"])

In [21]:
n1

['Naman', [4, 5, 6, 'Avg']]

# Dictionary

In [22]:
roll = [15,16,17]
name=  ["Ram","Rajan","Ravi"]
clas = ["7th","8th","9th"]

In [23]:
roll[0]

15

In [24]:
name[0]

'Ram'

In [25]:
clas[0]

'7th'

In [26]:
info = [[15,"Ram","7th"],[16,"Rajan","8th"],[17,"Ravi","9th"]]

In [32]:
info[0][2]

'7th'

In [33]:
#empty dict
d1 = {}

In [34]:
type(d1)

dict

In [35]:
# dict with int as key
d2 = {15:"Ram",16:'Rajan',17:'Ravi'}

In [36]:
d2

{15: 'Ram', 16: 'Rajan', 17: 'Ravi'}

In [37]:
d3 = {"Name":'Raman',12:[42,41,45]}

In [38]:
d3

{'Name': 'Raman', 12: [42, 41, 45]}

In [41]:
# using dict
d4 = dict({1:"python",2:'Mongo',3:'sql'})

In [40]:
d4

{1: 'python', 2: 'Mongo', 3: 'sql'}

In [42]:
d5 = dict([(1,"apple"),(2,"Mango")])

In [43]:
d5

{1: 'apple', 2: 'Mango'}

In [52]:
d1 = {"name":'Raman',"age":24,"class":"10th"}

In [45]:
d1

{'name': 'Raman', 'age': 24, 'class': '10th'}

In [47]:
d1['age']

24

In [48]:
d1[0]

KeyError: 0

In [50]:
d1 = {0:'Value1',1:"Value2",2:'Value3'}

In [51]:
d1[0]

'Value1'

In [53]:
d1

{'name': 'Raman', 'age': 24, 'class': '10th'}

In [54]:
d1.get('name')

'Raman'

In [55]:
d1.get("family")

In [56]:
d1['family']

KeyError: 'family'

In [57]:
d1 = {"name":'Naman',"Age":26}

In [58]:
d1

{'name': 'Naman', 'Age': 26}

In [59]:
d1['Age'] = 27

In [60]:
d1

{'name': 'Naman', 'Age': 27}

In [61]:
d1['Age'] +=1

In [62]:
d1

{'name': 'Naman', 'Age': 28}

In [63]:
d1['address']= "Ludhiana"

In [64]:
d1

{'name': 'Naman', 'Age': 28, 'address': 'Ludhiana'}

In [65]:
sq = {1:1,2:4,3:9,4:16,5:25}

In [66]:
sq.pop(4)

16

In [67]:
sq

{1: 1, 2: 4, 3: 9, 5: 25}

In [68]:
sq.popitem()

(5, 25)

In [69]:
sq

{1: 1, 2: 4, 3: 9}

In [70]:
sq.clear()

In [71]:
sq

{}

In [72]:
del sq

In [73]:
sq

NameError: name 'sq' is not defined

In [74]:
en = ['Maths',"Science","English"]

In [75]:
marks = {}.fromkeys(en,0)

In [76]:
marks

{'Maths': 0, 'Science': 0, 'English': 0}

In [77]:
a ="I love programming and i want to become a software dev"

In [ ]:
{'a':5,"e":1,"i":6,'o':8,"u":3}

In [1]:
vowels = 'aeiou'
str1 = 'Hello, have you tried our tutorial section yet?'
str1 = str.casefold(str1)
count = {}.fromkeys(vowels,0)
 

for char in str1:
    if char in count:
        count[char] += 1
 
print(count)

{'a': 2, 'e': 5, 'i': 3, 'o': 5, 'u': 3}

In [2]:
print(str1)

hello, have you tried our tutorial section yet?

In [6]:
a ="I love programming and i want to become a software dev"

d = {}.fromkeys('aeiou',0)
for i in a.lower():
    if i in d:
        d[i] +=1
print(d)

{'a': 5, 'e': 5, 'i': 3, 'o': 5, 'u': 0}

In [3]:
d = {'Key1':'Value1',"Key2":"Value2"}

In [5]:
'key1' in d

False

In [7]:
sq = {}

for i in range(1,6):
    sq[i] = i**2
print(sq)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [8]:
sq = {i:i**2 for i in range(1,6)}

In [9]:
sq

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [12]:
even = {i:i*i for i in range(1,11) if i%2 !=0}

In [13]:
even

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [14]:
for i in even:
    print(i)

1
3
5
7
9

In [15]:
for i in even:
    print(even[i])

1
9
25
49
81

In [17]:
for i in even.values():
    print(i)

1
9
25
49
81

In [18]:
for i in even.items():
    print(i)

(1, 1)
(3, 9)
(5, 25)
(7, 49)
(9, 81)

In [20]:
for i,j in even.items():
    print(i,j)

1 1
3 9
5 25
7 49
9 81

In [21]:
for i in even:
    print(i,even[i])

1 1
3 9
5 25
7 49
9 81

In [22]:
len(even)

5

In [23]:
d1 = {'Key1':45,"Key2":55,"Key3":65}
d2 = {'Key1':55,"Key2":35,"Key3":45}

In [ ]:
d3 = {'Key1':a+b}
d4 = {'Key1':a*b}

In [25]:
d3 = {}
d4 = {}
d1 = {'Key1':45,"Key2":55,"Key3":65}
d2 = {'Key1':55,"Key2":35,"Key3":45}
s1 =  0
p1 = 1
for i in d1:
    s1 = d1[i] + d2[i]
    d3[i] = s1
    p1 = d1[i] * d2[i]
    d4[i] = p1
print(d3,"Addition")
print(d3,"Product")

{'Key1': 100, 'Key2': 90, 'Key3': 110} Addition
{'Key1': 100, 'Key2': 90, 'Key3': 110} Product

In [27]:
# d1={'Key1':45,'Key2':55,'Key3':65}
# d2={'Key1':35,'Key2':45,'Key3':55}
# d=["Key1","Key2","Key3"]
# s1={}.fromkeys(d,0)
# for i in s1:
#      dict(d1+d2)
# print()

In [28]:
d1 =  {14256:{'Name':'Nandesh',"Division":'Data Sciene',"Location":'Dun',"Project":'Power Bi Dash FoR L1 Client'},
      14257:{'Name':'Ravi',"Division":"Web Dev","Location":'Delhi',"Project":'Dyanmic Web'}}

In [31]:
d1[14256]['Location']

'Dun'

In [34]:
d2 = {}
num = int(input("Enter the number of Students for which you want to enter the data : "))
for i in range(1,num+1):
    roll = int(input("Enter the roll num of Student {} : ".format(i)))
    name = input("Enter the name of roll num {} : ".format(roll))
    d2[roll] = name
    
print(d2)

Enter the number of Students for which you want to enter the data : 3
Enter the roll num of Student 1 : 14
Enter the name of roll num 14 : Ram
Enter the roll num of Student 2 : 15
Enter the name of roll num 15 : Sham
Enter the roll num of Student 3 : 16
Enter the name of roll num 16 : Ravi
{14: 'Ram', 15: 'Sham', 16: 'Ravi'}

In [35]:
n=int(input("enter no of students"))
dict ={}
for I in range(n):
    key=input("name of the students ")
    value =int(input("marks"))
    dict[key]=value
print("dictionary is")
print("marks ")

enter no of students3
name of the students ravi
marks45
name of the students rajan
marks55
name of the students rahul
marks52
dictionary is
marks

In [36]:
students = {}

n = int(input('Enter the number of students'))
for i in range(n):
    name = input('Enter the name of student')
    mMark = int(input('marks in Maths'))
    sMark = int(input('marks in Science'))
    eMark = int(input('marks in English'))
    students[name] = {'Math': mMark,'Science':sMark,'English':eMark}
   
for j in students:
    print(j,' avg mark is ',(students[j]['Math']+students[j]['Science']+students[j]['English'])/3)
    print()
  
students

Enter the number of students3
Enter the name of studentRam
marks in Maths45
marks in Science56
marks in English35
Enter the name of studentRajan
marks in Maths96
marks in Science84
marks in English74
Enter the name of studentRavi
marks in Maths45
marks in Science55
marks in English66
Ram  avg mark is  45.333333333333336

Rajan  avg mark is  84.66666666666667

Ravi  avg mark is  55.333333333333336

{'Ram': {'Math': 45, 'Science': 56, 'English': 35},
 'Rajan': {'Math': 96, 'Science': 84, 'English': 74},
 'Ravi': {'Math': 45, 'Science': 55, 'English': 66}}

In [ ]:
menu = {"Piza"}

In [ ]:
MCQ

In [ ]:
stock = {'Rel':{'Open':2000,"Close":2100,"High":2150,"Low":1950}}

In [7]:
d = {}
std = int(input("Enter the number of students : "))

for i in range(1,std+1):
    roll = int(input("Enter the roll number of students : {} ".format(i)))
    name = input("Enter name of students whose roll number is {} ".format(roll))
    sub = int(input("Enter how many sub you want to store "))
    d[roll] = {"Name":name}
    sub_1 = {}
    for i in range(1,sub+1):
        s1 = input("Enter the name of Subject {} ".format(i))
        m1 = int(input("Enter the marks of {} ".format(s1)))
        sub_1[s1] = m1
    d[roll]["Sub"] = sub_1
    
print(d)

Enter the number of students : 1
Enter the roll number of students : 1 52
Enter name of students whose roll number is 52 Naman
Enter how many sub you want to store 2
Enter the name of Subject 1 eng
Enter the marks of eng 56
Enter the name of Subject 2 sci
Enter the marks of sci 65
{52: {'Name': 'Naman', 'Sub': {'eng': 56, 'sci': 65}}}

In [11]:
d[52]['Sub']['eng']

56

In [14]:
d = {}
std = int(input("Enter the number of students : "))

for i in range(1,std+1):
    roll = int(input("Enter the roll number of students : {} ".format(i)))
    name = input("Enter name of students whose roll number is {} ".format(roll))
    sub = int(input("Enter how many sub you want to store "))
    d[roll] = name
    sub_1 = {}
    for i in range(1,sub+1):
        s1 = input("Enter the name of Subject {} ".format(i))
        m1 = int(input("Enter the marks of {} ".format(s1)))
        sub_1[s1] = m1
    d[roll] = {name:sub_1}
    
print(d)

Enter the number of students : 1
Enter the roll number of students : 1 45
Enter name of students whose roll number is 45 t
Enter how many sub you want to store 2
Enter the name of Subject 1 y
Enter the marks of y 41
Enter the name of Subject 2 z
Enter the marks of z 56
{45: {'t': {'y': 41, 'z': 56}}}

In [16]:
d1 = {45:{'Raj':{"Eng":45,"Sci":52,"Phy":54}}}

In [17]:
d1

{45: {'Raj': {'Eng': 45, 'Sci': 52, 'Phy': 54}}}

In [ ]:
Buy = {'relience':{'open':300,'closing price':200,'high':100,'low':150},
    }
Sell = {'relience':{'open':300,'closing price':200,'high':100,'low':150},}

n = int(input('subject number '))
s = int(input('student number '))
st = {}

for k in range(s):
    name = input('name')
    subD = {}
    for i in range(n):
        sub = input('Enter sub  ')
        mark = int(input('enter mark  '))
        subD[sub] = mark
    st[name] = subD 
print(st)
print(subD)

In [ ]:
stocks = {'relience':{'open':300,'closing price':200,'high':100,'low':150},}

n = int(input('subject number '))
s = int(input('student number '))
st = {}

for k in range(s):
    name = input('name')
    subD = {}
    for i in range(n):
        sub = input('Enter sub  ')
        mark = int(input('enter mark  '))
        subD[sub] = mark
    st[name] = subD 
print(st)
print(subD)

In [18]:
mcq_qes = {'Which port is known as Queen of Arabian Sea?':[['Vizag port','Paradip port','Kochi Port','Mumbai Port'],['Kochi Port']],
          'Which among the following peaks is known as Five Treasures of Great Show?':[['Lhotse','Godwin Austen','Kanchenjunga','Dhaulagiri'],['Kanchenjunga']],
          'Satmala Hills are located in which among the following states?':[['Gujarat','Uttar Pradesh','Maharashtra','Rajasthan'],['Maharashtra']],
          'In which among the following states is located the Banihal Pass?':[['Jammu & Kashmir','Himachal Pradesh','Uttarakhand','Sikkim'],['Jammu & Kashmir']]}

for i in mcq_qes:
    print(i)
    c=0
    for j in mcq_qes[i][0]:
        c+=1
        print(c,": ",j)
    print('5 :  skip')
    ans = int(input())
    if ans == 5:
        continue
    elif mcq_qes[i][0][ans-1] == mcq_qes[i][1][0]:
        print('right')
    else:
        print('wrong')
    print()

Which port is known as Queen of Arabian Sea?
1 :  Vizag port
2 :  Paradip port
3 :  Kochi Port
4 :  Mumbai Port
5 :  skip
3
right

Which among the following peaks is known as Five Treasures of Great Show?
1 :  Lhotse
2 :  Godwin Austen
3 :  Kanchenjunga
4 :  Dhaulagiri
5 :  skip
1
wrong

Satmala Hills are located in which among the following states?
1 :  Gujarat
2 :  Uttar Pradesh
3 :  Maharashtra
4 :  Rajasthan
5 :  skip
5
In which among the following states is located the Banihal Pass?
1 :  Jammu & Kashmir
2 :  Himachal Pradesh
3 :  Uttarakhand
4 :  Sikkim
5 :  skip
1
right

In [20]:
buy = {'relience':{'open':300,'closing price':200,'high':100,'low':150},
      'tcs':{'open':100,'closing price':400,'high':500,'low':190},
      'wipro':{'open':100,'closing price':300,'high':300,'low':50},
      'adobe':{'open':800,'closing price':600,'high':1000,'low':350},}
sell = {'relience':{'open':300,'closing price':130,'high':100,'low':150},
       'tcs':{'open':100,'closing price':500,'high':500,'low':190},
      'wipro':{'open':100,'closing price':100,'high':300,'low':50},
      'adobe':{'open':800,'closing price':1200,'high':1000,'low':350},}

for i,j in zip(buy,sell):
    if(buy[i]['open']>sell[j]['closing price']):
        print(i,'stock gets ',buy[i]['open']-sell[j]['closing price'],' loss')
    else:
        print(i,'stock gets ',sell[j]['closing price']-buy[i]['open'],' profit')

relience stock gets  170  loss
tcs stock gets  400  profit
wipro stock gets  0  profit
adobe stock gets  400  profit

In [1]:
t1 = ()

In [2]:
type(t1)

tuple

In [3]:
t1 = (5,6,2)

In [4]:
t1

(5, 6, 2)

In [5]:
t2 = (41,"Hi",3.6)

In [6]:
t2

(41, 'Hi', 3.6)

In [7]:
t3 = 14,165,"Hello"

In [8]:
t3

(14, 165, 'Hello')

In [9]:
a,b,c = t3

In [10]:
a

14

In [11]:
b

165

In [12]:
c

'Hello'

In [13]:
t6 = ('p','y','t','h','o','n')

In [14]:
t6[0]

'p'

In [15]:
t6[-1]

'n'

In [16]:
t7 = ("mike",[41,56,36],[1,42,56])

In [18]:
t7[-1][1]

42

In [19]:
t6 = ('p','y','t','h','o','n')

In [20]:
t6[1:5]

('y', 't', 'h', 'o')

In [21]:
t7 = (52,65,41)

In [22]:
t7[0] = 100

TypeError: 'tuple' object does not support item assignment

In [23]:
t7 = (52,65,41,[52,65])

In [24]:
t7

(52, 65, 41, [52, 65])

In [26]:
t7[-1][-1] = 75

In [27]:
t7

(52, 65, 41, [52, 75])

In [29]:
t7[-1] = 55

TypeError: 'tuple' object does not support item assignment

In [30]:
a1 = (55,52,56)

In [31]:
a1+ a1

(55, 52, 56, 55, 52, 56)

In [32]:
a1 *3

(55, 52, 56, 55, 52, 56, 55, 52, 56)

In [33]:
a1

(55, 52, 56)

In [34]:
del a1[1]

TypeError: 'tuple' object doesn't support item deletion

In [35]:
del a1

In [36]:
a1

NameError: name 'a1' is not defined

In [37]:
t6 = ('p','y','t','h','o','n')

In [38]:
t6.count('p')

1

In [39]:
t6.index('p')

0

In [40]:
"a" in t6

False

In [41]:
"y" in t6

True

In [42]:
"z" not in t6

True

In [43]:
names= ("Raman","Rajan")

for name in names:
    print("Hello",name)

Hello Raman
Hello Rajan

In [45]:
# t1=(1,2,3)
# t2=(6,7,8)
# x=t1+t2
# print(x)

In [46]:
t1 = 1,2,3,4,5
t2 = 1,2,3,4,5
t3=[]
for i in range(5):
    
    t3.append( t1[i]+t2[i])
t4 = tuple(t3)
type(t4)

tuple

In [50]:
t1 = (55,)

In [51]:
type(t1)

tuple

In [47]:
t4

(2, 4, 6, 8, 10)

In [ ]:
d1 = {'email':'nandesh4152@gmail.com'}
l1 = ['nandesh4152@gmail.com']
s1 = 'nandesh4152@gmail.com'
t1 = ('nandesh4152@gmail.com',)

In [1]:
pwd

'C:\\Users\\UROOJ\\python folder'